<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>InfiniteOS</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Signup</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <h1>Welcome!</h1>

    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="script.js"></script>
    
</body>

</html>